<div class="example">
  <app-leaflet [options]="options">
    <app-image-overlay [width]="width" [height]="height" *ngIf="loaded | async"
                       [src]="getUrl() | async"></app-image-overlay>
  </app-leaflet>
</div>
<div class="description">
  <h2>Example title</h2>
  <h3>Example longer subtitle</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque
    eos est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque
    eos est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque
    eos est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.</p>
</div>
