<div class="example">
  <ngl-leaflet [options]="options">
    <ngl-tile-layer></ngl-tile-layer>
    <ngl-marker [latLng]="[51.759445, 19.457216]">
      <app-edit></app-edit>
    </ngl-marker>
    <app-add-marker-handler></app-add-marker-handler>
  </ngl-leaflet>
</div>
<div class="description">
  <h2>Example title</h2>
  <h3>Example longer subtitle</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque eos
    est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque eos
    est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda beatae dolor dolorum ea eaque eos
    est explicabo facere, fugiat in, laboriosam maxime necessitatibus, officia placeat possimus repellat ullam
    voluptatum.
  </p>
</div>
