<mat-toolbar [color]="'primary'">
  <button mat-button>Open menu</button>
  <button mat-button (click)="visible = !visible">Toggle map</button>
</mat-toolbar>
<div class="content">
  <div class="left">
    <mat-nav-list>
      <a mat-list-item>Test</a>
    </mat-nav-list>
  </div>
  <div class="right">
    <app-leaflet [options]="options">
      <app-tile-layer *ngIf="visible"></app-tile-layer>
      <app-feature-group>
        <app-marker></app-marker>
      </app-feature-group>
    </app-leaflet>
  </div>
</div>
